name: test

on:
  push:
    paths-ignore:
      - 'docs/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          node-version: '14'
          cache: 'yarn'

      - run: yarn install --frozen-lockfile
      - run: yarn run test
      - run: yarn codecov
